<meta charset='UTF-8'>
<title>{{page_title}} {{app.name}}</title>
<meta name="language" content="english"> 
<meta http-equiv="content-type" content="text/html">
<meta name="author" content="{{ app.author }}">
<meta name="designer" content="{{ app.designer }}">
<meta name="publisher" content="{{ app.publisher }}">
<meta name="title" content="">
<meta name="description" content="{{ app.description }}">
<meta name="keywords" content="{{app.keywords}}">

<meta name="robots" content="index,follow">
<meta name="distribution" content="web">

<meta name="theme-color" content="#ed3a4b">
<meta name="apple-mobile-web-app-title" content="{{app.name}}">
<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='apple-touch-fullscreen' content='yes'>
<meta name='apple-mobile-web-app-status-bar-style' content='black'>
<meta name='format-detection' content='telephone=no'>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name= "viewport" content = "width = device-width, initial-scale = 1, user-scalable = no">

<!-- ICONS -->
<link rel="apple-touch-icon" sizes="57x57" href="{{app.icon_path}}/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{app.icon_path}}/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{app.icon_path}}/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{app.icon_path}}/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{app.icon_path}}/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{app.icon_path}}/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{app.icon_path}}/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{app.icon_path}}/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{app.icon_path}}/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{app.icon_path}}/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="144x144" href="{{app.icon_path}}/android-icon-144x144.png">
<link rel="icon" type="image/png" sizes="36x36" href="{{app.icon_path}}/android-icon-36x36.png">
<link rel="icon" type="image/png" sizes="72x72" href="{{app.icon_path}}/android-icon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{app.icon_path}}/android-icon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{app.icon_path}}/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{app.icon_path}}/favicon-32x32.png">
<link rel="icon" type="image/ico" href="{{app.icon_path}}/favicon-16x16.png">
<link rel="manifest" href="{{app.manifest}}">

<!-- STARTUP IMAGES -->

<!-- iPad retina portrait startup image -->
<link href="{{app.icon_screens_path}}/ios/Default-Portrait@2x~ipad.png"
      media="(device-width: 768px) and (device-height: 1024px)
             and (-webkit-device-pixel-ratio: 2)
             and (orientation: portrait)"
      rel="apple-touch-startup-image">

<!-- iPad retina landscape startup image -->
<link href="{{app.icon_screens_path}}/ios/Default-Landscape@2x~ipad.png"
      media="(device-width: 768px) and (device-height: 1024px)
             and (-webkit-device-pixel-ratio: 2)
             and (orientation: landscape)"
      rel="apple-touch-startup-image">

<!-- iPad non-retina portrait startup image -->
<link href="{{app.icon_screens_path}}/ios/Default-Portrait~ipad.png"
      media="(device-width: 768px) and (device-height: 1024px)
             and (-webkit-device-pixel-ratio: 1)
             and (orientation: portrait)"
      rel="apple-touch-startup-image">

<!-- iPad non-retina landscape startup image -->
<link href="{{app.icon_screens_path}}/ios/Default-Landscape~ipad.png"
      media="(device-width: 768px) and (device-height: 1024px)
             and (-webkit-device-pixel-ratio: 1)
             and (orientation: landscape)"
      rel="apple-touch-startup-image">

<!-- iPhone 6 Plus portrait startup image -->
<link href="{{app.icon_screens_path}}/ios/Default-736h.png"
      media="(device-width: 414px) and (device-height: 736px)
             and (-webkit-device-pixel-ratio: 3)
             and (orientation: portrait)"
      rel="apple-touch-startup-image">

<!-- iPhone 6 Plus landscape startup image -->
<link href="{{app.icon_screens_path}}/ios/Default-Landscape-736h.png"
      media="(device-width: 414px) and (device-height: 736px)
             and (-webkit-device-pixel-ratio: 3)
             and (orientation: landscape)"
      rel="apple-touch-startup-image">

<!-- iPhone 6 startup image -->
<link href="{{app.icon_screens_path}}/ios/Default-667h.png"
      media="(device-width: 375px) and (device-height: 667px)
             and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">

<!-- iPhone 5 startup image -->
<link href="{{app.icon_screens_path}}/ios/Default-568h@2x~iphone.png"
      media="(device-width: 320px) and (device-height: 568px)
             and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">

<!-- iPhone < 5 retina startup image -->
<link href="{{app.icon_screens_path}}/ios/Default@2x~iphone.png"
      media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">

<!-- iPhone < 5 non-retina startup image -->
<link href="{{app.icon_screens_path}}/ios/Default~iphone.png"
      media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 1)"
      rel="apple-touch-startup-image">
	 		
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{app.icon_path}}/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- END ICONS -->